@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");

body {
  display: grid;
  place-items: center;
  background: #f1d4d4;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 30vw;
  height: 20vw;
}

/* Text */
.text {
  position: absolute;
  font-family: "Henny Penny", cursive;
  font-size: 22px;
  color: #794c74;
  left: 29.7vw;
  top: 29.5vw;
  animation: bounce-in-right 5s ease-in-out;
}

@keyframes bounce-in-right {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(-30px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.name {
  position: absolute;
  top: -3rem;
  left: -3rem;
}

/* Cookies */
.cookies {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  top: 23.8vw;
  left: 42.2vw;
  background-color: #8b4513;
  transform: rotate(360deg);
  animation: move 4s linear infinite;
  box-shadow: -30px -30px inset #632e08;
  border: 2px solid #632e08;
}

/* Eyes */
.eyes {
  position: absolute;
  clip-path: circle(50% at 50% 50%);
  background: #ffffff;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: close-eyes 8s linear infinite;
  border: 0.2px solid #632e08;
}

@keyframes close-eyes {
  1.6% {
    transform: scaleY(1);
  }

  2.2% {
    transform: scaleY(0);
  }

  2.8% {
    transform: scaleY(1);
  }
}

.eyes-left {
  left: 50px;
  top: 130px;
}

.eyes-right {
  right: 50px;
  top: 130px;
}

.eyes_medium {
  position: absolute;
  border-radius: 50%;
  background: #000000;
  border-radius: 50%;
  border-top: 8px solid #201e1e;
  width: 65px;
  height: 65px;
}

.eyes_medium_left {
  top: 3px;
  left: 10px;
}

.eyes_medium_right {
  top: 3px;
  right: 10px;
}

/* iris */
.iris_top {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: blink 1s alternate infinite;
}

.iris-top-left {
  left: -5px;
  top: 5px;
}

.iris-top-right {
  right: -5px;
  top: 5px;
}

.iris_bottom {
  position: absolute;
  background: #ffffff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: blink 1s alternate infinite;
}

.iris-bottom-left {
  left: 25px;
  top: 25px;
}

.iris-bottom-left {
  right: 25px;
  top: 25px;
}

/* Cheekbones */
.cheekbones {
  background: #e99497;
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 30px;
}

.cheekbones-left {
  top: 190px;
  left: 25px;
}

.cheekbones-right {
  top: 190px;
  right: 25px;
}

/* Mount */
.mount {
  clip-path: circle(50% at 50% 0%);
  position: absolute;
  background: black;
  width: 70px;
  height: 70px;
  top: 200px;
  left: 115px;
}

/* Tongue */
.tongue {
  position: absolute;
  background: #fc013c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: move_tongue 2s alternate infinite;
}

.tongue-left {
  left: 12px;
  top: 12px;
}

.tongue-right {
  right: 12px;
  top: 12px;
}

@keyframes move_tongue {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scaleX(1.1);
  }
}

/* chocolate-chips */
.chocolate-chips {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #351702;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  border: 5px solid #351702;
}

.chips-1 {
  position: absolute;
  left: 45px;
  top: 65px;
}

.chips-2 {
  position: absolute;
  left: 130px;
  top: 90px;
}

.chips-3 {
  position: absolute;
  left: 45px;
  top: 230px;
}

.chips-4 {
  position: absolute;
  right: 50px;
  top: 60px;
}

.chips-5 {
  position: absolute;
  right: 150px;
  top: 260px;
}

.chips-6 {
  position: absolute;
  right: 70px;
  top: 230px;
}

.chips-7 {
  position: absolute;
  right: 0;
  top: 120px;
}

.chips-8 {
  position: absolute;
  left: 0;
  top: 130px;
}

.chips-9 {
  position: absolute;
  left: 120px;
  top: 10px;
}

/* Heart right*/
.container-heart-right {
  position: relative;
  transform: rotate(30deg);
  left: 14vw;
  top: 0.52vw;
}

.heart-right {
  position: relative;
  width: 100px;
  height: 90px;
  animation: blink 5s linear infinite;
}

.heart-right:before,
.heart-right:after {
  position: absolute;
  content: "";
  left: 90px;
  width: 90px;
  height: 140px;
  background: #ff0303;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart-right:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/* Heart left*/
.container-heart-left {
  position: relative;
  transform: rotate(30deg);
  top: -3.5vw;
  left: 19vw;
  animation: rote-heart 10s linear infinite;
}

@keyframes rote-heart {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.heart-left {
  position: relative;
  width: 100px;
  height: 90px;
  animation: blink 5s linear infinite;
}

.heart-left:before,
.heart-left:after {
  position: absolute;
  content: "";
  left: 62px;
  width: 62px;
  height: 80px;
  background: #ff0357;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart-left:after {
  left: 0;
  transform: rotate(60deg);
  transform-origin: 100% 100%;
}

.container_plate {
  position: relative;
  top: 12.3vw;
  left: 7.2vw;
}

.plate {
  position: relative;
  background: #91c788;
  border-radius: 50%;
  width: 300px;
  height: 90px;
  box-shadow: 15px 10px 10px rgb(0, 0, 0, 0.2),
    15px 10px 10px rgb(0, 0, 0, 0.2) inset;
  border-bottom: 8px inset #52734d;
  border-top: 4px solid #52734d;
}

.plate_bottom {
  position: absolute;
  background: #ddffbc;
  border-radius: 50%;
  opacity: 0.5;
  top: 20px;
  left: 74px;
  width: 150px;
  height: 50px;
  border: 4px solid #6fb98f;
}

.plate_chips {
  position: absolute;
  background: #351702;
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.plate_chips-1 {
  top: 25px;
  left: 25px;
  transform: rotate(35deg);
  animation: rote-heart 3s linear infinite;
}

.plate_chips-2 {
  top: 50px;
  left: 80px;
  transform: rotate(-45deg);
  animation: blink 3s linear infinite;
}

.plate_chips-3 {
  top: 30px;
  right: 120px;
  transform: rotate(45deg);
  animation: rote-heart 5s linear infinite;
}

.plate_chips-4 {
  top: 30px;
  right: 30px;
  transform: rotate(-45deg);
  animation: blink 3s linear infinite;
}

@keyframes blink {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(1);
  }
}

@keyframes move {
  0% {
    transform: translateY(-30px);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(-30px);
  }
}
