@media (max-width: 575.98px) {
  html {
    overflow-y: scroll;
  }

  .container {
    top: -20rem;
    left: -9rem;
  }

  .container-heart-right {
    top: 16rem;
    left: 15rem;
  }

  .container-heart-left {
    top: 15rem;
    left: 20rem;
  }

  .cookies {
    top: 30rem;
    left: 9rem;
  }

  .container_plate {
    top: 35rem;
    left: 9rem;
  }

  .text {
    top: 55rem;
    left: 16rem;
  }
}
